.-agora .v-productWatch
	width 344px
	padding 10px
	border-radius 2px

	h1
		margin-bottom 5px
		font-size 22px
		font-weight bold

	h2
		margin 0 0 5px 0
		font-size 18px
		font-weight bold

	.enabled
		height 28px
		background-color #5B5B5B
		font-size 0
		width 344px
		margin-bottom 10px
		.option
			cursor pointer
			font-size 13px
			text-align center
			width 170px
			height 28px
			line-height @height

			float left

			& + .option
				margin-left 4px

		&.on .on, &.off .off
			box-style()
			background-color $darkGray
		

	.condition
		margin-bottom 10px
		.options
			font-size 0
		&.listing
			.listing
				font-weight bold
				// background-color white

		&.new
			.new
				font-weight bold
			.listing, .new
				// background-color white

		&.refurbished
			.refurbished
				font-weight bold

			.listing, .new, .refurbished
				// background-color white

		&.used
			.used
				font-weight bold

			.listing, .new, .refurbished, .used
				// background-color white

		.option
			cursor pointer
			display inline-block
			font-size 11px
			width 86px
			text-align center
			background-color rgba(255, 255, 255, .5)
			height 25px
			line-height @height

			&:first-child
				border-top-left-radius 2px
				border-bottom-left-radius 2px

			&:last-child
				border-top-right-radius 2px
				border-bottom-right-radius 2px


	.alertConditions
		margin-bottom 10px
		.criterion
			& + .criterion
				margin-top 10px
			height 29px
			position relative
			padding 0 0 0 35px

			input[type="checkbox"]
				position absolute
				left 0
				top -2px

			label
				line-height 29px

			input[type="text"]
				width 60px
				position absolute
				right 0 
				text-align right

	input[type="submit"], input[type="button"]
		box-style()
		height 29px
		min-width 81px
		font-size 12px
		text-align center
		margin-top 10px
		width 166px
		background-color $darkGray
		color white

		& + input[type="submit"]
			margin-left 8px

	.email
		font-style italic



.-agora.dark .v-productWatch, .-agora .dark.v-productWatch
	background-color $darkGray

	label, h2, h1
		color white

	.enabled .option
		color white

	.condition .option
		color $darkGray

	.condition
		&.listing
			.listing
				background-color white

		&.new
			.listing, .new
				background-color white

		&.refurbished
			.listing, .new, .refurbished
				background-color white

		&.used
			.listing, .new, .refurbished, .used
				background-color white

	.email
		&, .value
			color white
