.-agora .v-socialShare
	width 300px
	padding 10px

	&:not(.owner)
		.access
			display none

	&.private
		.url, .services
			-webkit-filter grayscale(1)
			opacity .5


		.services li, .url
			cursor not-allowed

		.facebook iframe
			display none

	.url
		width 100%
		display block
		margin-top 12px
		text-align center

	.access
		margin-top 12px
		width 100%

	.services
		width 160px
		margin 0 auto
		font-size 0
		li
			width 38px
			height 38px
			cursor pointer
			display inline-block
			font-size 0

			& + li
				margin-left 20px

			&.facebook
				iframe
					width 38px
					height 38px
				image $base + 'share/facebook.png' 38px 38px

			&.twitter
				image $base + 'share/twitter.png' 38px 38px

			&.googlePlus
				image $base + 'share/googlePlus.png' 38px 38px
