reset() 
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 12px;
		vertical-align: baseline;
		font-family: helvetica;
		line-height: normal;
		text-align left



html body
	.-agora
		// amazon
		div.product
			overflow visible


	.-agora, .-agora.table 
		text-align left

		width auto
		color white
		padding 0
		font normal 12px/auto arial
		font-size 12px
		border 0
		
		margin 0
		margin-left 0

		label
			display inline

		div, applet, object, iframe,
		h1, h2, h3, h4, h5, h6, p, blockquote, pre,
		a, abbr, acronym, address, big, cite, code,
		del, dfn, em, img, ins, kbd, q, s, samp,
		small, strike, strong, sub, sup, tt, var,
		b, u, i, center,
		dl, dt, dd, ol, ul, li,
		fieldset, form, label, legend,
		table, caption, tbody, tfoot, thead, tr, th, td,
		article, aside, canvas, details, embed, 
		figure, figcaption, footer, header, hgroup, 
		menu, nav, output, ruby, section, summary,
		time, mark, audio, video, select, span, div, input, textarea 
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 12px;
			vertical-align: baseline;
			font-family: helvetica;
			text-align left
			width auto
			min-width auto
			font-weight normal
			box-shadow none
			background-color transparent
			box-sizing content-box
			float none
			color #676767
			line-height normal
			overflow visible
			-webkit-box-sizing content-box
			box-sizing content-box
		


		// input:focus, textarea:focus 
		// 	margin: 0;
		// 	padding: 0;
		// 	border: 0;
		// 	font-size: 10px;
		// 	vertical-align: baseline;
		// 	font-family: helvetica;
		// 	text-align left
		// 	font-weight normal
		// 	box-shadow none
		// 	background-color transparent
		// 	box-sizing content-box
		// 	float none
		// 	color #676767
		// 

		/* HTML5 display-role reset for older browsers */
		article, aside, details, figcaption, figure, 
		footer, header, hgroup, menu, nav, section 
			display: block;
		
		ol, ul, ul li, ol li 
			list-style: none;
		
		blockquote, q 
			quotes: none;
		
		blockquote:before, blockquote:after,
		q:before, q:after 
			content: '';
			content: none;
		
		table 
			border-collapse: collapse;
			border-spacing: 0;

			td 
				dispaly: table-cell;
			
		

		td 
			display: table-cell;
		

		tr 
			dispaly: table-row;
		
		
		a, a:visited, a:hover, a:link 
			border 0
			color #676767
			text-decoration none
		
	
