@import 'styles'

body
	padding-bottom 80px

#back
	background-color #ACACAC
	div
		background url('http://agora.sh/agora/prairie.jpg') no-repeat center
		background-size cover
		opacity .5
		position absolute

		left 0
		right 0
		top 0
		bottom 0
		-webkit-filter blur(6px)

	position fixed
	left 0
	right 0
	top 0
	bottom 0
	overflow hidden
	z-index -1

